/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767px) {
  .container {
    overflow: hidden;
  }
  html {
    font-size: 56%;
  }
  body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: var(--primary-color-bg);
    /* font-family: "Libre Bodoni", serif; */
    font-family: "Open Sans", sans-serif;
    background-color: #fff;
  }
  .section-title {
    display: block;
    text-align: center;
    padding: 0;
  }

  .section-title::before {
    top: 0;
    left: 50%;
    translate: -50%;
  }

  .section-desc {
    text-align: center;
  }

  .hero {
    margin-top: 20px;
  }
  .works,
  .blog,
  .cta,
  .feature,
  .testimonial {
    margin-top: 30px;
  }

  .hero__heading,
  .section-heading {
    text-align: center;
  }

  .hero-inner {
    flex-direction: column;
    gap: 30px;
  }

  .hero-form {
    margin-top: 15px;
  }

  .hero__img {
    display: block;
    margin: 0 auto;
    width: 70%;
    height: 189.8648648648649%;
    object-fit: contain;
  }

  .media__deposite {
    top: 20%;
    right: 55%;
    padding: 10px;
  }

  .media__interest {
    width: 70px;
    height: 70px;
  }

  .media__interest__value {
    font-size: 2.4rem;
  }

  .media__interest__title {
    font-size: 1.6rem;
  }

  .media__secured-funds {
    padding: 8px 6px;
    right: 5px;
    bottom: 66px;
  }

  .works__list {
    margin-top: 20px;
    gap: 10px;
  }
  .works__media__thumb {
    width: 100%;
    height: 425px;
    background-size: contain;
  }

  .works__media__img {
    width: 95%;
    height: 111.545%;
    object-fit: contain;
  }

  .media__congratulations {
    width: 221px;
    padding: 8px;
    right: 0;
  }

  .feature__inner {
    flex-direction: column;
    gap: 20px;
  }

  .feature-2__inner,
  .works__inner {
    flex-direction: column-reverse;
  }

  .feature__link {
    display: block;
  }

  .feature__img {
    width: 100%;
    object-fit: contain;
  }

  .media__send-money {
    padding: 8px;
    top: 0;
    right: 5px;
    width: 230px;
  }

  .media__income {
    bottom: 0;
    padding: 10px;
    right: 5px;
    width: 100px;
    height: 100px;
  }

  .feature-2__thumb {
    width: 100%;
  }

  .feature-2__img {
    width: 95%;
  }
  .payment-method {
    /* display: none; */
    left: 10px;
    width: 250px;
  }

  .testimonial__item {
    width: 100% !important;
  }

  .blog-top {
    flex-direction: column;
    gap: 20px;
  }
  .blog-action__link,
  .blog-action {
    display: block;
    width: 100%;
  }

  .cta-icon {
    display: none;
  }

  .cta__inner {
    padding: 30px;
  }

  .cta-action__img {
    margin-top: 10px;
    width: 119px;
    height: 42.1978021978022px;
  }
  .footer {
    margin-top: 30px;
    padding: 50px 0;
  }

  .footer__inner {
    flex-direction: column;
  }
  .footer-logo {
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .footer-row {
    margin-left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .footer-column:nth-last-of-type(1) {
    grid-column: span 2;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {
  html {
    font-size: 56%;
  }
  body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: var(--primary-color-bg);
    /* font-family: "Libre Bodoni", serif; */
    font-family: "Open Sans", sans-serif;
    background-color: #fff;
  }
  /* hero */
  .hero {
    margin-top: 40px;
  }
  .container {
    overflow: hidden;
  }
  .hero {
    margin-top: 50px;
  }
  .hero__img {
    width: 70%;
    height: 189.8648648648649%;
    object-fit: cover;
  }

  .media__interest {
    width: 95px;
    height: 95px;
  }
  .media__deposite {
    top: 94.75px;
    right: 287px;
    padding: 8px;
  }

  .media__secured-funds {
    padding: 10px;
    right: 20px;
    bottom: 65px;
  }

  /*  */
  .works__media__thumb {
    width: 100%;
    height: 380px;
  }
  .works__media__img {
    width: 95%;
    height: 460px;
  }

  /*  */
  .works,
  .blog,
  .cta,
  .feature,
  .testimonial {
    margin-top: 80px;
  }

  .media__congratulations {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    bottom: -30px;
    right: 0;
  }

  .media__congratulations__info {
    align-items: center;
  }

  .media__congratulations__icon {
    width: 35px;
    height: 35px;
  }

  .feature__img {
    width: 100%;
    object-fit: contain;
  }

  .media__send-money {
    width: 230px;
    padding: 8px;
    right: 20px;
    top: 10px;
  }

  .media__income {
    padding: 10px;
    width: 100px;
    height: 100px;
    bottom: -15px;
    right: 20px;
  }

  .feature-2__thumb {
    width: 100%;
    height: 348px;
  }

  .feature-2__img {
    width: 95%;
    object-fit: contain;
    height: 138.8888%;
    bottom: 0;
  }

  .payment-method {
    width: 200px;
    /* display: none; */
    left: 20px;
    bottom: 20px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  }

  .feature-2-icon {
    bottom: 170px;
    left: 180px;
  }

  .testimonial__list {
    margin-top: 35px;
  }

  .testimonial__item {
    width: calc(50% - var(--spacer) / 2) !important;
  }

  .testimonial__item__mess::before {
    width: 50px;
    height: 50px;
    bottom: -25px;
  }
  .testimonial__item__info {
    margin-top: 45px;
  }

  .testimonial__item__avt {
    width: 90px;
    height: 90px;
  }

  .blog__list {
    margin-top: 50px;
  }

  .blog__item__img {
    width: 100px;
    height: 100px;
  }

  .blog-action__img {
    width: 150px;
    height: 52.74px;
  }
  .cta-action {
    margin-top: 20px;
  }
  .cta-action__img {
    width: 150px;
    height: 52.74px;
  }

  .cta-icon {
    position: absolute;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
  }

  .cta-icon:nth-of-type(1) {
    top: 49px;
    left: 112px;
  }

  .cta-icon:nth-of-type(2) {
    bottom: 15px;
    left: 180px;
  }
  .cta-icon:nth-of-type(3) {
    top: 49px;
    right: 112px;
  }

  .cta-icon:nth-of-type(4) {
    bottom: 15px;
    right: 180px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 56%;
  }
  body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: var(--primary-color-bg);
    /* font-family: "Libre Bodoni", serif; */
    font-family: "Open Sans", sans-serif;
    background-color: #fff;
  }
  /* hero */
  .hero {
    margin-top: 50px;
  }
  .hero__img {
    width: 222px;
    height: 421.5px;
  }

  .media__interest {
    width: 120px;
    height: 120px;
  }
  .media__deposite {
    top: 84.75px;
    right: 297px;
    padding: 10px 8px;
  }

  .media__secured-funds {
    padding: 13px 10px;
  }

  /*  */
  .works__media__thumb {
    width: 352.5px;
    height: 412.5px;
  }
  .works__media__img {
    width: 342px;
    height: 464.25px;
  }

  .works__list {
    margin-top: 25px;
    gap: 15px;
  }

  .media__card {
    top: 72.25px;
    right: 73.25px;
    width: 48px;
    height: 48px;
  }

  /* feature */
  .works,
  .blog,
  .cta,
  .feature,
  .testimonial {
    margin-top: 100px;
  }
  .feature__img {
    width: 361.5px;
    height: 241.5px;
  }

  .media__send-money {
    width: 220px;
    padding: 12px 8px;
  }

  .media__income {
    padding: 20px;
    width: 110px;
    height: 110px;
    right: 25px;
    bottom: -55px;
  }

  /* .feature-2 */
  .feature-2__thumb {
    width: 352.5px;
    height: 324px;
  }
  .feature-2__img {
    width: 309.75px;
    height: 450px;
  }
  .payment-method {
    right: 30px;
    bottom: 50px;
    padding: 15px;
  }

  .payment-method__list {
    margin-top: 15px;
    gap: 12px;
  }

  .payment-method__item {
    width: 95%;
  }

  .feature-2-icon {
    bottom: 170px;
    right: 0;
  }
  /* cta */
  .cta-icon:nth-of-type(4) {
    bottom: 49px;
    right: 30px;
  }

  .cta-icon:nth-of-type(2) {
    bottom: 49px;
    left: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  /* footer */
  .footer-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .footer-column:nth-last-of-type(1) {
    grid-column: span 2;
  }
}
